{% extends "::base.html.twig" %}
{% block title %}Edit your Album {% endblock %}

{% block body %}
    {{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.title, 'Enter the Album Title',{'attr': {'for': 'title'}}) }}
        {{ form_widget(form.title, {'attr': {'class': 'form-control input-lg', 'id': 'title', 'placeholder': 'Enter the Album Title', 'required': 'required'}}) }}
        <small id="titleHelp" class="form-text text-muted">{{ form_errors(form.title) }}</small>
    </div>

    <div class="form-group">
        {{ form_label(form.albumArtist, 'Enter the Albums Artist ',{'attr': {'for': 'albumArtist'}}) }}
        {{ form_widget(form.albumArtist, {'attr': {'class': 'form-control input-lg', 'id': 'albumArtist', 'placeholder': 'Enter the Albums Artist', 'required': 'required'}}) }}
        <small id="authorHelp" class="form-text text-muted">{{ form_errors(form.albumArtist) }}</small>
    </div>

    <div class="form-group">
        {{ form_label(form.trackList, 'Enter the Track List',{'attr': {'for': 'trackList'}}) }}
        {{ form_widget(form.trackList, {'attr': {'class': 'form-control input-lg', 'maxlength': '500', 'id': 'trackList', 'placeholder': 'Enter the Albums Track List', 'required': 'required'}}) }}
        <small id="summaryHelp" class="form-text text-muted">{{ form_errors(form.trackList) }}</small>
    </div>

    <div class="form-group">
        {{ form_label(form.image, 'Select an image',{'attr': {'for': 'image'}}) }}
        {{ form_widget(form.image, {'attr': {'class': 'form-control input-lg', 'id': 'image', 'placeholder': 'Select the book cover'}}) }}
        <small id="imageHelp" class="form-text text-muted">{{ form_errors(form.image) }}</small>
    </div>

    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-lg btn-primary'}}) }}
    <a class="btn btn-lg btn-primary" role="button" href="{{ path('deletelbum',{id: album.id}) }}">delete</a>
    {{ form_end(form) }}

{% endblock %}